*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(24,24,24);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
p{
    color: white;
}
#egdiv{
    display: flex;
}
#rec1{
display: flex;
}
h6{
   color: rgb(128,128,128);
   width: 266px;
   height: 20px;
}
#test{
    float: right;
}
.row1{
    display: flex;
}
.row2{
    display: flex;
}
.row3{
    display: flex;
}
#a{
    background-color: rgb(33,33,33);
    width: 250px;
    height: 786px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#searchbar{
    width: 550px;
    height: 38px;
    background-color: rgb(24,24,24);
    border: 2px solid rgb(50, 50, 50);
    margin-left: 150px;
    font-size: medium;
    padding-left: 8px;
    
}
#div2{
    padding-top: 10px;
    padding-left: 20px;
}
#searchicon{
    background-color: rgb(50,50,50);
    justify-content: center;
    height: 38px;
    width: 70px;
    position: relative;
    top: 13px;
    right: 5px;
    }
#invert{
    filter: invert(1);
}
#egdiv{
    border-top: 2px solid rgb(50, 50, 50);
    border-bottom: 2px solid rgb(50, 50, 50);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;

}
.thumbnail{
    margin-bottom: 7px;
}
#rowdiv{
    margin-right: 20px;
    margin-bottom: 50px;
}
h6{
    font-weight: lighter;
    font-size: smaller;
}
#bndtext{
    background-color: rgb(255, 255, 255);
    width: 30px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: black;
}
#bndtext1{
    background-color: rgb(50,50,50);
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext2{
    background-color: rgb(50,50,50);
    width: 30px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext3{
    background-color: rgb(50,50,50);
    width: 90px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext4{
    background-color: rgb(50,50,50);
    width: 50px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext5{
    background-color: rgb(50,50,50);
    width: 90px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext6{
    background-color: rgb(50,50,50);
    width: 40px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext7{
    background-color: rgb(50,50,50);
    width: 80px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext8{
    background-color: rgb(50,50,50);
    width: 40px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext9{
    background-color: rgb(50,50,50);
    width: 80px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext10{
    background-color: rgb(50,50,50);
    width: 160px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#bndtext11{
    background-color: rgb(50,50,50);
    width: 80px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.leftbar{
    margin-top: 5px;
}
#leftbarrow1{
    border-bottom: 2px solid rgb(50,50,50);
    padding-bottom: 20px;
}
#youtubelogo{
    padding-left: 20px;
}
h3{
    color: rgb(140,140,140);
    font-size: medium;
}
#leftbarrow2{
    border-bottom: 2px solid rgb(50,50,50);
    padding-bottom: 20px;
}

.upload{
margin-left: 110px;
position: relative;
top: 13px;
}
.more{
    margin-left: 30px;
    position: relative;
    top: 13px;
}
.notif{
    margin-left: 30px;
    position: relative;
    top: 13px;
}
.pfp{
    margin-left: 30px;
    position: relative;
    top: 13px;
}
.voicesearch{
    margin-left: 30px;
    position: relative;
    top: 13px;
}